<mat-card class="m-4 p-6">
  <mat-list>
    <div mat-subheader class="text-2xl font-bold mb-4">
      Todas las categorías
    </div>
    <div *ngFor="let c of categorias" class="mb-4">
      <mat-list-item class="flex flex-col items-start p-4 bg-white rounded-lg shadow-md hover:bg-gray-50">
        <div class="flex items-center mb-2">
          <mat-icon mat-list-icon class="mr-2">category</mat-icon>
          <div mat-line class="text-lg font-semibold">{{ c.titulo }}</div>
        </div>
        <div class="text-gray-600">{{ c.descripcion }}</div>
      </mat-list-item>
      <mat-divider class="my-2"></mat-divider>
    </div>
  </mat-list>

  <div class="text-center mt-6">
    <button routerLink="/admin/add-categoria" mat-raised-button color="primary" class="px-6 py-2">Agregar categoría</button>
  </div>
</mat-card>
