<mat-toolbar class="bg-blue-600 text-white flex items-center justify-between">
  <div class="flex items-center">
    <a [routerLink]="'/'" mat-icon-button aria-label="Menu icon" class="mr-4">
      <mat-icon>menu_books</mat-icon>
    </a>
    <span class="text-lg font-semibold">Portal de tests</span>
  </div>

  <div class="flex items-center space-x-4">
    <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-button class="text-white">
      Iniciar sesión
    </a>
    <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-button class="text-white">
      Registrar
    </a>
    <button *ngIf="isLoggedIn" (click)="logout()" mat-button class="text-white">
      Cerrar sesión
    </button>
    <button *ngIf="isLoggedIn" mat-button routerLink="/admin/profile" class="text-white">
      {{ user?.username }}
    </button>
  </div>
</mat-toolbar>
