<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 space-y-8 bg-white rounded-lg shadow-lg">
    <div class="text-center">
      <img src="../../../assets/login.png" width="100" height="100" class="mx-auto">
      <h1 class="text-2xl font-bold">Inicio de sesión</h1>
    </div>
    <form (ngSubmit)="formSubmit()">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Nombre de usuario</mat-label>
        <input [(ngModel)]="loginData.username" name="username" required matInput placeholder="Digite su nombre de usuario">
        <mat-hint>El nombre de usuario debe ser válido</mat-hint>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input [(ngModel)]="loginData.password" name="password" required type="password" matInput placeholder="Digite su contraseña">
        <mat-hint>La contraseña debe ser válida</mat-hint>
      </mat-form-field>
      <div class="flex justify-between mt-6">
        <button mat-raised-button color="primary" class="w-1/2 mr-2">Iniciar sesión</button>
        <button type="reset" mat-raised-button color="accent" class="w-1/2 ml-2">Limpiar</button>
      </div>
    </form>
  </div>
</div>
