<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      /* border: 1px solid #ccc; */
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt20">
        <div class="col-md-6 offset-md-3 text-center">
          <h1>Bienvenido al test de fobias</h1>
          <img src="./../../../assets/logo.jpeg" alt="Logo Terfobi">
          <br>
          <section class="about-section" id="about" data-bs-spy="scroll" data-bs-target="#navbar-example">
            <h1 class="">Nosotros</h1>
            <div class="row about-section-container container">
              <div class="about-section-container-img col-md-12 col-lg-6" data-aos="fade-right"></div>
              <div class="mt20" data-aos="fade-left">
                <p>Somos jóvenes universitarios que se preocupan por la situación actual del tratamiento de fobias. Por esta razón, se decidió empezar este proyecto para facilitar el tratamiento de fobias mediante el uso de dispositivos móviles. Nuestra misión es ayudar a las personas a superar las fobias.</p>
              </div>
            </div>
          </section>
          <button mat-raised-button color="primary">Inicio</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>




